@charset "UTF-8";
body{ font: 14px/1.5 "Microsoft YaHei","\5fae\8f6f\96c5\9ed1",Verdana,Helvetica,Arial,"\5b8b\4f53",sans-serif; background-color: #5BC5D4;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0} 
img{display:block;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}

input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display: block; }
audio,canvas,video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden],template { display: none; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a { text-decoration:none; color:#333; }
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}

.w{margin:0 auto;}
.w ul li p{text-align:center;padding-top:70px; font-size:18px;font-weight:bold;color:#333 }
.index , .test>li , .error , .good{width:100%; height:100%; background-size: auto 100%; background-repeat: no-repeat; background-position: center;}


.index{ position: relative;}
.index img{ margin: 0 auto;height:100%}
.index span{position: absolute; bottom:4%; left:25%; width:50%; height:9.26%;}
.index span img{margin:0 auto; height:80%; }
.test{width:100%; height:100%; position: relative; display: none;}
.test>li{position: absolute; top:0; left:0; display: none;}

.question{position: absolute;}
.question{height:24.074%;  left:50%;}
.question>li{height:25%; position: relative;}
.question>li img{height:100%; position: absolute; top:0;}
.question>li img:last-child{left:0;}
.question>li a{font-weight:bold}


.apiece{position: absolute;}

.p1 .question{top:24.814815%;}
.p1 .am1{height:4.537%; top:52.3148%;}

.p2 .question{top:24.814815%;}

.p3 .question{top:60%;}

.p4 .question{top:24.814815%;}

.p5 .question{top:24.814815%;}

.p6 .question{top:58.33333%;}

.nextquestion{position: absolute; left:50%; height:7.87037%;}

.error{ position: relative; display: none;}
.error span , .error .dictionary{position: absolute; bottom:4.63%; width:50%; height:9.26%;}
.error span {right:50%;}
.error span img{ position:absolute;right:20px;height:80% ;cursor:default}
.error .dictionary {right:0;}
.error .dictionary img{ position:absolute;height:80%;left:20px;cursor:default}
.error-img{margin:0 auto; width:380px;height:340px;}
.error-img img{width:100%;height:100%; }
.error-title{padding-top:50px; font-size:16px;font-weight:bold;color:#333;text-align:center}

.answer{ position: relative; display: none;}
.answer span , .answer .dictionary{position: absolute; bottom:4.63%; width:50%; height:9.26%;}
.answer span {right:50%;}
.answer span img{ position:absolute;right:20px;height:80% ;cursor:default}
.answer .dictionary {right:0;}
.answer .dictionary img{ position:absolute;height:80%;left:20px;cursor:default}
.answer-title{padding-top:50px; font-size:16px;font-weight:bold;color:#333;text-align:center}
.answer-img{margin:0 auto; width:380px;height:320px;}
.answer-img img{width:100%;height:100%; }


.good{position: relative; display: none;}

.good-img{margin:0 auto; width:380px;height:320px;}
.good-img img{width:100%;height:100%; }
.good-title{padding-top:50px; font-size:16px;font-weight:bold;color:#333;text-align:center}
.good span ,.good .dictionary{position: absolute; bottom:4.63%; width:50%; height:9.26%;}
.good span {right:50%;}
.good span img{ position:absolute;right:20px;height:80% ;cursor:default}
.good .dictionary {right:0;}
.good .dictionary img{ position:absolute;height:80%;left:20px;cursor:default}

.music .on , .music .off{height:100%;}
.music .off{display: none;}
.music.off .on{display: none;}
.music.off .off{display: block;}

.logo img{width:100%;height:100%}


@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
